#wrapper-container {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;

}

#container-login {
    height: 100vh;
    background: linear-gradient(244deg, #3575FF 7.16%, rgba(186, 147, 192, 0.99) 96.42%);
}

h1 {
    color: whitesmoke;
    font-weight: 500;
    margin-top: 15vh;
    margin-bottom: 10vh;
}

#usuario {
    margin-top: 25vh;
}

.img-full {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    object-position: left;
    margin: 0;
    padding: 0;
}

#btn-login button {
    width: 80%;
}


