<nav class="navbar navbar-expand-lg nav-underline bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li >
          <h1 class="titulo-rediun">REDIUN</h1>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Registro de Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reporte</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="#">Checkpoint</a>
        </li>
        <li class="nav-item">
          <a id="perfil" class="nav-link" href="#">Perfil</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<p>resgistro works!</p>
<img src="https://i.imgur.com/91HU3te.jpeg" alt="mis cuyitos memes" class="img-fluid img-full">
