<ul id="navigation" class="nav nav-fill nav-underline">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Registro de Usuario</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Reporte</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Checkpoint</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Perfil</a>
    </li>
</ul>

<p>resgistro works!</p>
<img src="https://i.imgur.com/91HU3te.jpeg" alt="mis cuyitos memes" class="img-fluid img-full">
